.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.emoji {
  position: absolute;
  opacity: 0;
  transition:
    transform 5s linear,
    opacity 2s ease-in-out;
}
